.my-component {
    background: url(/assets/img/chank-bg.png) no-repeat;
    background-position: center;
    height: 100vh;
    background-color: aliceblue;
    background-size: 30%;
}

.h1-content{
    display: flex;
    position: absolute;
    top: 32rem;
    left: 26rem;
    font-size: 50px;
}
  