.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.head-div {
  text-align: center;
  margin-bottom: 20px;
}

.head-h1 {
  font-size: 36px;
}

.head-p {
  text-align: center;
  margin-bottom: 40px;
}

.img-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.para-head {
  font-size: 18px;
  line-height: 1.5;
}

.para-head-follow {
  font-size: 32px !important;
  line-height: 1.5;
}

.prime-font {
  font-size: 12px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 530px;
}


.col-h1 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.des-div {
  margin-bottom: 20px;
}

.des-para {
  font-size: 16px;
  line-height: 1.5;
}

.input-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-right: 8px;
  width: 30%;

}

.email-form {
  display: contents;
  line-height: 70px;
}

.form-style {
  display: flex;
  flex-direction: row;
}

.cizul-bold {
  font-family: "Cinzel", serif;
  color: #7f5539;
  font-weight: 500;
  font-style: normal;
}

.subs-btn {
  background-color: #7f5539;
  color: black;

  span {
    font-weight: 900;
    color: black;
  }

}

.p-head {
  font-size: 12px !important;
  display: flex;
  margin-left: 170px !important;
  flex-direction: column;
  align-items: center;
}

.sub-input {
  width: 400px;
  height: 40px;
}

.btn-sub-submit {
  height: 40px;
  width: 100px;
}

.p-subscribe {
  font-weight: 600;
  margin-top: -30px;
}

.icon {
  font-size: 18px;
  margin-right: 5px;
}

.cizul {
  font-family: "Cinzel", serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 480px) {
  .des-para-mobile {
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
  }

  .form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-subscribe {
    font-weight: 600;
    display: flex;
    line-height: 25px;
    margin-top: 22px;
    width: 332px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .sub-input {
    width: 100%;
    height: 40px;
  }

  .p-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 1px !important;
  }
}