body {
    background-color: white;
}



.head-h1 {}

.para-head {

    font-family: cursive;
    font-weight: 600;
    font-size: 20px;
}


.btn-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.btn-element{
    margin-right: 450px;
}